<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/application.css">
    <script src="/assets/application.js"></script>
  </head>

  <body>
    <div id="application">

    <div id="nav-container">
      <div id="nav">
        <ul>
          <li><a href="#/albums">ALBUMS</a></li>
          <li><a href="#/settings">SETTINGS</a></li>
        </ul>
      </div>
    </div>

    <div id="view-container">
    </div>

    </div>
  </body>
</html>
