/*= require reset */

html {
    font-family: sans-serif;
}

body, input {
    color: #333;
    font-size: 1em;
    background: #eee;
}

.hide-overflow {
    overflow: hidden;
}

.clear {
    clear: both;
}

#top {
    position: fixed;
    top: 0;
    height: 2.66em;
    /*padding: 1em 1em 1em 1em;*/
    background: #B1B0B0;
    width: 100%;
    /*display: block;*/
    z-index: 100;
}

#top #show-playing-wrapper, #show-albums-wrapper {
    /*height: 2.66em;*/
    /*padding: 1em 1em 1em 1em;*/
    /*position: absolute;*/
    /*right: 0;*/
    padding: 0.66em 1em 0.66em 1em;
    display: inline-block;
}

#top #show-playing, #show-albums-all {
    cursor: pointer;
}

#view-container {
    position: relative;
    margin-top: 2.66em;
    /*height: 2000px;*/
}

/*
 * Now Playing
 */

#now-playing {
    /*background: #818181;*/
    background: #B1B0B0;
    max-height: 600px;
    min-height: 600px;
}

#now-playing-container {
    position: relative;
    display: table;
    /*margin: auto;*/
    width: 100%;
}

#now-playing-track {
    position: absolute;
    text-align: center;
    color: #B1B0B0;
    font-size: 2em;
    /*height: 2em;*/
    width: 100%;
    z-index: 10;
    top: 0px;
    background: rgba(64,64,64,0.8);
    /*opacity: 0.2;*/
}

#now-playing-track p {
    padding: 0.33em 0 0.33em 0;
}

#now-playing-cover {
    position: absolute;
    top: 0px;
    width: 100%;
}

#now-playing-cover img {
    display: table;
    min-height: 600px;
    max-height: 600px;
    margin: auto;
}

#control {
    position: relative;
    background: #eee;
    height: 200px;
}

#control-container img {
    padding: 1em 0 1em 0;
    display: table;
    margin: auto;
    opacity: 0.5;
}

#control-container img:hover {
    opacity: 1;
}

/*
 * Albums view
 */

#albums-view-container {
}

#albums-view {
    margin: 0px auto;
    text-align: center;
}

#albums-view > div {
    display: inline-block;
}

.album {
    color: #555;
    width: 200px;
    margin: 1.66em;
    background-color: #ddd;
}

.album .title-wrap {
    max-height: 2.66em;
    min-height: 2.66em;
    overflow: hidden;
}

.album .title,.artist {
    width: 200px;
    height: 2.66em;
    display: table-cell;
    vertical-align: middle;
}

.album .cover {
    min-height: 200px;
    max-height: 200px;
    display: table;
    vertical-align: top;
}

.album .cover img {
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
}

/*
 * Album details view
 */

#album-details-container {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
    display: none;
    background:rgba(0,0,0,0.8);
    z-index: 100;
}

#album-details {
    width: 60%;
    padding: 2em;
    margin: 0px auto;
    color: #666;
    background-color: #fff
}

#album-details h1, h2, hr {
    margin-bottom: 0.33em;
}

#album-details h1 {
    font-size: 2.25em;
}

#album-details h2 {
    color: #888;
    font-size: 1.5em;
}

#album-details .cover {
    float: left;
    margin-right: 20px;
}

#album-details .cover img {
    max-width: 200px;
    min-width: 200px;
}

#album-details .track-list {
    list-style-type: none;
    margin-left: 220px;
}

#album-details .track-list li {
    padding: 0.66em;
    font-size: 1em;
    border-bottom: 1px solid #eee;
}

#album-details .track-list li .tags,.duration {
    float: right;
    margin-left: 1em;
}

#album-details .track-list li .action-status {
    margin-left: 0.66em;
    color: #00f;
}

#album-details .track-list li:hover {
    background-color: #eee;
}

#album-details .track-list li.odd {
    /*background-color: #f6f6f6;*/
}

#album-details .track-list .track-show-details {
    padding: 0.166em;
    color: #ccc;
    cursor: pointer;
}

#album-details .track-details {
    margin: 0.666em 0 0.333em 0;
}

#album-details .tag, .tag-edit {
    padding: 0.166em 0.666em 0.166em 0.666em;
    font-size: 0.833em;
    border-radius: 10px;
}

#album-details .tag {
    background-color: #F9FDE4;
}

#album-details .tag-edit {
    background-color: #fff;
}

#album-details .track-details input {
    padding: 0.166em 0.666em 0.166em 0.666em;
    border: 0px solid #fff;
    border-radius: 10px;
    color: #666;
    background-color: #fff;
}

li.disc-header {
    color: #666;
    font-size: 1.33em;
    font-weight: bold;
    background-color: #fff;
}
