/*= require reset */

html {
    font-family: sans-serif;
}

body {
    color: #333;
}

.hide-overflow {
    overflow: hidden;
}

.clear {
    clear: both;
}

/*
 * Top panel
 */

#now-playing-container {
    position: fixed;
    width: 100%;
    background-color: #555;
}

#now-playing {
    margin: 0.5em auto 0.5em auto;
    /*margin: 0.5em;*/
    /*float: left;*/
    color: #ccc;
    text-align: center;
}

#controls {
    margin: 0.5em 0.5em 0.5em 0.5em;
    /*margin: 0.5em;*/
    color: #bbb;
    /*float: right;*/
    text-align: center;
}

#play_or_stop_action {
    display: inline-block;
}

#skip_action {
    display: inline-block;
}

/*
 * Albums view
 */

#albums-view-container {
    padding-top: 4em;
}

#albums-view {
    width: 80%;
    margin: 0px auto;
}

#albums-view div {
    list-style-type: none;
}

.album {
    color: #555;
    float: left;
    margin: 1.66em;
    background-color: #f1f1f1;
}

.title-wrap {
    max-height: 2.66em;
    overflow: hidden;
}

.album .title,.artist {
    width: 200px;
    height: 2.66em;
    font-size: 1em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.album .cover {
    min-height: 200px;
    max-height: 200px;
}

.album .cover img {
    max-width: 200px;
    min-width: 200px;
}

/*
 * Album details view
 */

#album-details-container {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
    display: none;
    background:rgba(0,0,0,0.8);
}

#album-details {
    width: 60%;
    padding: 2em;
    margin: 0px auto;
    color: #666;
    background-color: #fff
}

#album-details h1, h2, hr {
    margin-bottom: 0.33em;
}

#album-details h1 {
    font-size: 2.25em;
}

#album-details h2 {
    color: #888;
    font-size: 1.5em;
}

#album-details .cover {
    float: left;
    margin-right: 20px;
}

#album-details .cover img {
    max-width: 200px;
    min-width: 200px;
}

#album-details .track-list {
    list-style-type: none;
    margin-left: 220px;
}

#album-details .track-list li {
    padding: 0.66em;
    font-size: 1em;
    border-bottom: 1px solid #eee;
}

#album-details .track-list li:hover {
    background-color: #eee;
}

#album-details .track-list li.odd {
    /*background-color: #f6f6f6;*/
}

li.disc-header {
    color: #666;
    font-size: 1.33em;
    font-weight: bold;
    background-color: #fff;
}
