<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/assets/master.css">
  <script src="/assets/albums.js"></script>
</head>

<body>

  <script type="text/template" id="album-details-view">
    <div>
      <div class="cover">
        <img src="<%%= cover_path %>">
        <br>
        #<%%= id %>
      </div>
      <h1><%%= title %></h1>
      <h2><%%= artist %></h2>
      <hr>
      <ol class="track-list">
      </ol>
    </div>
  </script>

  <div id="album-details-container" class="hidden">
    <div id="album-details">
    </div>
  </div>

  <script type="text/template" id="album-view">
    <div class="album">
      <div class="title-wrap">
        <div class="title">
          <p><%%= title %></p>
        </div>
      </div>
      <div class="cover">
        <img src="<%%= cover_path %>">
      </div>
      <div class="artist">
        <%%= artist %>
      </div>
    </div>
  </script>

  <div id="albums-view-container">
    <div id="albums-view">
    </div>
  </div>

</body>

</html>