<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/assets/master.css">
  <script src="/assets/master.js"></script>
</head>

<body>
  <div id="now-playing-container">
    <div id="now-playing"></div>
    <div id="controls"></div>
  </div>
  <div id="artists-container">
    <div id="artists">
      <script type="text/template" id="artists_tpl">
        <h1><%%= name %></h1>
        <ul class="listview"></ul>
      </script>

      <script type="text/template" id="album_details">
        <div class="album-details">
            <h2><%%= title %></h2>
            <div class="album-cover">
                <img src="<%%= cover_path %>">
            </div>
            <div class="album-tracks">
                <ol></ol>
            </div>
            <div class="clear"></div>
        </div>
      </script>
    </div>
  </div>
</body>

</html>