<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/assets/master.css">
  <script src="/assets/master.js"></script>
</head>

<body>
  <div id="now-playing-container">
    <div id="now-playing"></div>
    <div id="controls"></div>
  </div>
  <div id="artists-container">
    <div id="artists">
    </div>
  </div>
</body>

</html>