<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/assets/test.css">
  <script src="/assets/test.js"></script>
</head>

<body>

  <div id="top">

    <div id="show-playing-wrapper">
      <div id="show-playing">NOW PLAYING</div>
    </div>

    <div id="show-albums-wrapper">
      <div id="show-albums-all">ALBUMS</div>
    </div>

  </div>

  <script type="text/template" id="album-details-view">
    <div>
      <div class="cover">
        <img src="<%%= cover_path %>">
        <br>
        #<%%= id %>
      </div>
      <h1><%%= title %></h1>
      <h2><%%= artist %></h2>
      <hr>
      <ol class="track-list">
      </ol>
    </div>
  </script>

  <div id="album-details-container" class="hidden">
    <div id="album-details">
    </div>
  </div>

  <div id="view-container">
  </div>

  <script type="text/template" id="now-playing-view">
    <div>
      <div id="now-playing">
        <div id="now-playing-container" class="clear">
          <div id="now-playing-track">
            <p><b><%%= title %></b> &bull; <%%= artist.name %> &bull; <%%= album.title %></p>
          </div>
          <div id="now-playing-cover">
            <img src="api/cover?album_id=<%%= album.id %>"
          </div>
        </div>
      </div>
    </div>
    <div id="control">
      <div id="control-container">
        <img src="assets/<%%= action %>.png" id="center-action">
      </div>
    </div>
  </script>

  <script type="text/template" id="album-view">
    <div class="album">
      <div class="title-wrap">
        <div class="title">
          <p><%%= title %></p>
        </div>
      </div>
      <div class="cover">
        <img src="<%%= cover_path %>">
      </div>
      <div class="artist">
        <%%= artist %>
      </div>
    </div>
  </script>

  <script type="text/template" id="albums-view">
    <div id="albums-view">
    </div>
  </script>

</body>

</html>