<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/assets/master.css">
  <script src="/assets/master.js"></script>
</head>

<body>

  <div id="top">
    <a href="albums">albums</a>
  </div>

  <script type="text/template" id="now-playing-view">
    <div id="now-playing-container" class="clear">
      <div id="now-playing-track">
        <p><b><%%= track.title %></b> &bull; <%%= track.artist.name %> &bull; <%%= track.album.title %></p>
      </div>
      <div id="now-playing-cover">
        <img src="api/cover?album_id=<%%= track.album.id %>"
      </div>
    </div>
  </script>

  <div id="player">
    <div id="now-playing"></div>
  </div>

  <div id="control">
    <div id="control-container">
      <img src="assets/stop.png">
    </div>
  </div>

  <div id="bottom">
  </div>

</body>

</html>