/*= require album_thumb */
/*= require album_details */
/*= require settings */

html, body, h1, h2, h3, h4, p, div, li, ul, span {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

html {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

#nav-container
{
  background-color: #4D4D4E;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#nav
{
  position: relative;
  width: 100%;
  top: 0;

  a {
    color: #aaaaaa;
    text-decoration: none;
  }

  div {
    display: inline-block;
    vertical-align: middle;
  }
}

#menu-toggle {
  width: 19%;
  padding: 0.66em;
}

#nav-center {
  width: 60%;
}

#nav-menu, #nav-player {
  padding: 0.66em;
  text-align: right;
}

#nav-player {
  float: right;
}


#content
{
  position: relative;
}

$menu-color: #A9A395;
$menu-bg-color: lighten($menu-color, 30%) !default;
$menu-h1-color: lighten($menu-color, 10%) !default;
$menu-h2-color: lighten($menu-color, 20%) !default;

#menu
{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 333px;
  left: 0;
  background: $menu-bg-color;
  display: none;
  z-index: 99;

  ul
  {
    list-style-type: none;

    li
    {
      background: #fff;
      padding: 0;
      margin-top: 0px;
      margin-bottom: 1px;

      a:link {
        text-decoration: none;
        color: #000;
      }

      a:visited {
        text-decoration: none;
        color: #000;
      }

      div
      {
        background: $menu-h1-color;
        padding: 0.66em;
        margin-bottom: 1px;
      }

      ul
      {
        list-style-type: none;
        padding-top: 0em;
        li
        {
          color: #666;
          background: $menu-h2-color;
          padding: 0.66em 1.33em;
          margin-bottom: 1px;
          &:hover
          {
            background-color: darken($menu-h2-color, 5.0%)
          }
        }
      }
    }
  }
}

#view-container {
  position: relative;
}

#album-thumbs
{
  margin: 0 auto;
  text-align: center;
}

#album-details-container {
  color: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  width: 100%;
  display: none;
  background:rgba(0,0,0,0.8);
  z-index: 100;
}

#album-details {
  width: 60%;
  padding: 2em;
  margin: 0px auto;
  color: #666;
  background-color: #fff
}



$player-color: #aaaaaa;
$player-base-color: #4D4D4E;
$player-bg-color: lighten($player-base-color, 3%) !default;
$player-active-color: lighten($player-bg-color, 5%) !default;

//$player-color: #777;
//$player-bg-color: #d7d4cd;
//$player-active-color: darken($player-bg-color, 5%) !default;

//$player-color: #B2B2B2;
//$player-bg-color: #646464;
//$player-active-color: lighten($player-bg-color, 5%) !default;

#nav-player, #nav-menu
{
  .menu, .play, .station, .select
  {
    display: inline-block;
    color: $player-color;
    background: $player-bg-color;
    margin: 0 auto;
    padding: 0.33em 0.66em 0.33em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .menu
  {
    border-radius: 12px 12px 12px 12px;

    &:hover
    {
      background: $player-active-color;
    }
  }

  .play
  {
    cursor: pointer;
    border-radius: 12px 0px 0px 12px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);

    span {
      padding-right: 0.66em;
    }

    &:hover
    {
      background: $player-active-color;
    }
  }

  .station
  {
    width: 200px;
  }

  .select
  {
    cursor: pointer;
    border-radius: 0px 12px 12px 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);

    &:hover
    {
      background: $player-active-color;
    }
  }
}