$settings-color: #A9A395;
$settings-bg-color: lighten($settings-color, 30%) !default;

.settings-container
{
  width: 100%;

  button, input
  {
    padding: 0.33em;
    margin: 0.33em;
    font-size: 1em;
  }

  button {
    /*float: right;*/
    width: 25%;
  }

  input {
    width: 50%;
  }

  ul {
    list-style: none;
  }

  table
  {
    background-color: $settings-bg-color;
    width: 100%;

    border-collapse: collapse;

    td
    {
      padding: 0.5em;
      border: 2px solid #fff;
    }

    td:nth-child(1)
    {
      width: 25%;
      vertical-align: top;
      font-size: 1.66em;
    }

    td:nth-child(2)
    {
      width: 50%;
    }

    td:nth-child(3)
    {
      vertical-align: top;
    }
  }
}